#app {
  height: 100%;
}
*{
  transition-duration: 500ms;
}
html,
body {
  /* position: relative; */
  height: 100%;
  /* text-align: center; */
  /* justify-content: center; */
  /* align-items: center; */
}

html {
  /* font-size: 10px; */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  /* background: var(--tg-theme-bg-color); */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2vh;
  color: var(--tg-theme-text-color);
  margin: 0;
  padding: 0;
  background-color: var(--tg-theme-bg-color);
}

.info_more{
  /* position: absolute; */
  /* top: 0%; */
  /* right: 5%; */
  /* width: 10vw; */
  height: 12vw;
  stroke: #1d49aa;
  transition-duration: 500ms;
}

.choose{
  z-index:7;
  /* position: absolute; */
  /* display: flex; */
  /* justify-content: center; */
  
  /* bottom: 0px; */
  width: 100%;
  height: 100%;
  /* margin:  auto 0%; */
  /* appearance: none; */
  border: 0;
  border-radius: 5px;
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  padding: 8px 16px;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
}


.info h1{
  margin: 0px;
  /* font-size: 1.5em; */
  font-size: 4vh;
  width: 85%;
}
.info p{
  color: var(--tg-theme-hint-color);
  margin: 0px;
}

img{
  width: 95%; 
  height: 70vh; 
  object-fit: cover;
  object-position: center;
}
.v-telegram{
  min-height: 100%;
  /* filter: blur(10px); */
  display: flex;
  flex-direction: column;
}
main{
  width: 100%;
  flex: 1 1 auto;
  padding: 0% 0% 3% 0%;
}
footer{
  height: 8vh;
  z-index:7;
  text-align: center;
  /* padding: 5% 0% 0% 0%; */
}
/* __________________Slide____________ */

.image{
  position: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  filter: blur(6px);
}
.swiper-button-prev {
  background-image: url("../foto/moreLeft.svg");
}
.swiper-button-next {
  background-image: url("../foto/moreRight.svg");
}
.swiper-button-next::after,.swiper-button-prev::after {
  content: "";
}

@media(hover: hover) and (pointer: fine) {
  .swiper-button-next:hover,.swiper-button-prev:hover {
    background-size: 14vw;
  }
}
@media(hover: none) and (pointer: coarse) {
  .swiper-button-next:active,.swiper-button-prev:active {
    background-size: 14vw;
  }
}
.swiper-button-next,
.swiper-button-prev {
  /* background-color: white; */
  color: #1d49aa;
  stroke: #1d49aa;
  
  background-position: center;
  background-size: 12vw;
  background-repeat: no-repeat;
  padding: 5% 7%;
  /* border-radius: 100%; */
  /* border: 2px solid black; */
  /* color: red; */
}


.slider-img{
  text-align: center;
  /* position: absolute; */
  width: 100%;
}

.v-slider{
  margin: auto;
  background-color: var(--tg-theme-bg-color);
  
  /* background-color: gainsboro; */
}

.swiper{
  margin:  auto auto;
  height: 90vh;
}
.style-slider{
  border-radius: 0 0 5vw 5vw;
}
.info {
  position: relative;
  white-space: pre-wrap;
  margin: auto auto;
  width: 90%;
  text-align: -webkit-auto;
}
.info h1, svg{
  display: inline-flex;
}
:root {
  --swiper-theme-color: var(--tg-theme-text-color);
  /* --swiper-theme-color: #fff; */
}
.slider{
  position: relative;
}
/* _________Info____________ */
.v-slider-info{
  z-index:3;
  position: relative;
  /* transition: .3s all; */
  width: 100%;
  height: 100%;
  background-color: var(--tg-theme-bg-color);
}

.v-slider-info img{
  margin: auto;
}
video {
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

.hr-shelf {
	margin: 0% auto 5%;
	padding: 0;
	height: 3vh;
	border: none;
	border-bottom: 0.3vh solid #1f1209;
	width: 100%;
}
.dop-info,.dop-info{
  position: relative;
  text-align: initial;
  margin: auto auto;
  white-space: pre-wrap;
  width: 90%;
}
.dop-info p{
  margin: 0px;
}
/* .v-slider-info .swiper{
  height: 85vh;
} */

.getContacts{
  width: 40%;
  padding: 4vw 5vw;
}
.messege{
  margin: 3% 3%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.getContactsMessege{
  justify-content: center;
}
.getContactsMessege a.button{
  border-radius: 2vh;
  padding: 4vw 5vw;
  width: 100%;
}
a.button.shine {
    background-image: linear-gradient(270deg, rgba(100, 181, 239, 0) 48.44%, #64b5ef 75.52%, rgba(100, 181, 239, 0) 100%);
    background-repeat: no-repeat;
    animation: bg-move linear 6s infinite;
}
@keyframes bg-move{
0% {
  background-position: -500px 0;
}
100% {
  background-position: 1000px 0;
}
}
.infoSocial{
  margin-bottom: 3%;  
  display: flex;
  align-items: center;
  justify-content: center;
}

a.button {
  font-size: 2.5vw;
  /* line-height: 17px; */  
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  color: #FFF;
  background: #3ca1eb;
  border-radius: 3vh;
  overflow: hidden;
  padding: 3vw 5vw;
  /* height: 42px; */
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  background-color: #1c93e3;
  width: 30%;
  
}
a.button:hover{
  background-color: #1a8ad5;
}
.infoMob{
  width: 100vw;
  margin-bottom: 5%;
}

/* _____________________________АНИМАЦИЯ ________________*/
.info-enter-active,
.info-leave-active{
  transition: all 0.5s ease-out;
  /* transition-delay: 500ms; */
}

.info-enter-from{
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, -10);
  /* transition-delay: 500ms; */
}
.info-leave-to {
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, -10);
  /* translateY(-30%); */
  /* transition-delay: 500ms; */
}


/* .slider img,video{
  animation: bg-img 1.1s ease;
  transition: all 0.5s ;
} */

/* .info-enter-from,
.info_img-leave-to {
  animation: bg-img 1.1s ease;
}
@keyframes bg-img{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
  }


.info_img-enter-active,
.info_img-leave-active{
  transition: all 0.5s;
} */

